.contact {
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    padding: 80px 0 120px 0;
    scroll-snap-align: start;
}

/* Title */
.contact>h2 {
    text-align: center;
    color: #4f5b55;
    font-family: "Inria Serif", serif;
}

.contact>p {
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;
    color: #4f5b55;
    font-family: "Inria Serif", serif;
}

/* Background pattern */
.envelop_container {
    position: relative;
    width: 100%;
}

.pattern {
    position: absolute;
    z-index: -1;
    width: max-content;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(7deg);
}

.pattern>div {
    color: #e4dcce;
    display: flex;
    gap: 200px;
    font-size: 120px;
    font-family: "Abramo Script", cursive;
}

@media (max-width: 1024px) {
    .contact {
        padding: 40px 0;
    }
}